body {
}

::deep .initiales {
    width: 50px;
}

::deep .group_S {
    width: 50px;
}

::deep .cprofil {
    max-height: 25rem !important;
    min-height: 20rem !important;
}

::deep .private {
    min-width: 43rem !important;
}

::deep .prof {
    min-width: 43rem !important;
}

::deep .parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 0px;
}

::deep .div1 {
    grid-area: 1 / 1 / 2 / 2;
}

::deep .div2 {
    grid-area: 1 / 2 / 2 / 3;
}

::deep .contButton {
    display: none !important;
}

@media (max-width: 1000px) {


    ::deep .contButton {
        display: block !important;
        z-index: 1 !important;
    }
}

::deep .photo {
    z-index: 1 !important;
    position: relative !important;
    transition: 0.3s;
}
::deep .photo:hover{
    transition: 0.3s;
    opacity: 0.4 !important;
    /*z-index: 0 !important;*/
}

::deep .image {
   background-color: dimgrey !important;
   color: white;
   font-size: 1rem;
   overflow: hidden;
   display: inline-grid;
}

::deep .signature{
   height: 23% !important;
}

::deep .imgSigna {
   height: 113% !important;
   
}
.signature {
   height: 23% !important;
}

.imgSigna {
   height: 113% !important;
}