@page "/personnel"
@using ATI_Projet_Components.Personnel
@using Microsoft.Extensions.Localization
@using System.Globalization
@using ATI_Projet_Cultures.Locales
@inject IStringLocalizer<PersonnelResource> localizer

@if(ID != 0)
{
   <div>
      <Fiche Id="ID" EditPhoto="OpenModalPhoto" EditSignature="OpenModalSignature" EmployeChanged="EmployeEvent"></Fiche>
   </div>
}


<Modal @ref="modalPhoto"></Modal>

<Modal @ref="modalSignature"></Modal>