@page "/personnel"
@using ATI_Projet_Components.Personnel
@using Microsoft.Extensions.Localization
@using System.Globalization
@using ATI_Projet_Cultures.Locales
@inject IStringLocalizer<PersonnelResource> localizer


<div>
    <Fiche EditPhoto="OpenModalPhoto" EditSignature="OpenModalSignature"></Fiche>
</div>

<Modal @ref="modalPhoto"></Modal>

<Modal @ref="modalSignature"></Modal>