@page "/personnel"
@page "/personnel/{ID:int}"
@using ATI_Projet_Components.Personnel
@using Microsoft.Extensions.Localization
@using System.Globalization
@using ATI_Projet_Cultures.Locales
@inject IStringLocalizer<PersonnelResource> localizer

@if(ID != 0)
{
   <Fiche Id="ID" EditPhoto="OpenModalPhoto" EditSignature="OpenModalSignature" EmployeChanged="EmployeEvent"></Fiche>

}
else
{
   <span>Loading</span><Spinner Type="SpinnerType.Dots" Class="me-3" Color="SpinnerColor.Primary" />
}


@* <Modal @ref="modalPhoto"></Modal>

<Modal @ref="modalSignature"></Modal> *@