@page "/Personnel"
@page "/Personnel/{Id}"

@if (Personnel != null)
{
    <ListGeneric Items="@Personnel" ExcludedCols="ExcluCol" ActivateOffCanvas="true"></ListGeneric>
    if (person != null)
    {
        <Offcanvas @ref="offcanvas"
        Title="Employé:">
            <BodyTemplate>
                <ShowGeneric Item="@person" ExcludedProp="@(new List<string>{"Titre"})"></ShowGeneric>
            </BodyTemplate>
            <FooterTemplate>
                <Button Color="ButtonColor.Primary" @onclick="OnHideOffcanvasClick">Back</Button>
            </FooterTemplate>
        </Offcanvas>
    }
}

