@page "/Personnel/show/{Id}"


<h3>Utilisateur: </h3>

@if (Personne != null)
{
    <ShowGeneric Item="@Personne" ExcludedProp="@(new List<string>{"Titre"})"></ShowGeneric>
}
else
{
    <p>Loading...</p>
}


