
::deep .quickgrid[theme="default"] thead {
    background-color: lightslategray;
}

::deep .quickgrid[theme="default"] .col-title {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.25rem;
    display: flex;
    justify-content: center;
}


::deep .quickgrid[theme="default"] {
    --col-gap: 1.5rem;
}

::deep tr {
    height: 2.5rem;
    border-bottom: 0.5px solid silver;
}

::deep tbody td {
    white-space: nowrap;
    overflow: hidden;
    max-width: initial;
    text-overflow: ellipsis;
}
::deep .card {
    min-width: fit-content;
    width: fit-content;
}