@using Microsoft.Extensions.Localization
@using System.Globalization
@using ATI_Projet_Cultures.Locales
@inject IStringLocalizer<PersonnelResource> localizer

@typeparam TItem

<div class="show">
   @foreach (var p in Item.GetType().GetProperties())
   {
      if (!ExcludedProp.Contains(p.Name))
      {
         <div class="row">
            <h5 class="col-4 text-end">@(localizer[p.GetCustomAttribute<DisplayNameAttribute>() == null ? p.Name : p.GetCustomAttribute<DisplayNameAttribute>().DisplayName]):</h5>
            @if (p.PropertyType == typeof(string))
            {
               <p class="col-7">@(p.GetValue(Item) != null ? localizer[p.GetValue(Item).ToString()] : default!)</p>
            }
            else
            {
               <p class="col-7">@(p.GetValue(Item) != null ? p.GetValue(Item) : default!)</p>
            }
         </div>
         @*                 if(p.PropertyType == typeof(string))
   {
   if (!string.IsNullOrEmpty(p.GetValue(Item).ToString()))
   {

   }
   } *@
      }
   }
</div>
