body {
}

.navbar {
    background-color: #A7A7A9;
    height: 7vh;
}

/*::deep a {
    text-decoration: none !important;
    color: black !important;
    transition: 0.3s;
    font-size: 1rem;
}

    ::deep a:hover {
        color: #B0C0BC !important;
        transition: 0.3s;
        font-size: 1.5rem;
    }
*/
::deep .link {
    text-decoration: none !important;
    color: black !important;
    transition: 0.3s;
    font-size: 1rem;
}

    ::deep .link:hover {
        color: #B0C0BC !important;
        transition: 0.3s;
        font-size: 1.15rem;
    }
