@page "/Auth/{Id}/{HashToken}"
@layout Layout.EmptyLayout

<div class="d-flex justify-content-center align-items-center">
    <h1>
        Loading...
        <div class="spinner-border text-info" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </h1>
</div>

