@page "/"
@using Microsoft.Extensions.Localization
@using System.Globalization
@using ATI_Projet_Cultures.Locales
@inject IStringLocalizer<PersonnelResource> localizer
@inject IJSRuntime JS

<PageTitle>Home</PageTitle>

<div class="d-flex justify-content-center">
    <h1>@localizer["Bienvenue sur ATI Projets"]</h1>
</div>
