body {
}

.chrome .test {
   color: chartreuse;
}

.firefox .test {
   color: red;
}
}


::deep .chrome .test {
   color: chartreuse;
}

::deep .firefox .test {
   color: red;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
   ::deep .test {
      visibility: hidden
   }
   
   .test {
      visibility: hidden
   }
}

@-moz-document url-prefix() {
   ::deep .test {
      visibility: visible
   }

   .test {
      visibility: visible
   }
}