@page "/"
@using ATI_Projet_Cultures.Tools
@using Microsoft.Extensions.Localization
@using System.Globalization
@using ATI_Projet_Cultures.Locales
@inject IStringLocalizer<PersonnelResource> localizer
@inject IJSRuntime JS

<PageTitle>Home</PageTitle>

<div class="d-flex justify-content-center">
    <h1>@localizer["Bienvenue sur ATI Projets"]</h1>
</div>

@code{
   [Inject] private LanguageChangeNotifier LanguageNotifier { get; set; }
   protected override void OnInitialized() => LanguageNotifier.SubscribeLanguageChange(this);
   public void Dispose() => LanguageNotifier.UnsubscribeLanguageChange(this);
}