body {
}
.chrome .test {
   visibility: hidden
}

.firefox .test {
   visibility: visible
}

::deep .chrome .test {
   visibility: hidden
}

::deep .firefox .test {
   visibility: visible
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
   ::deep .test {
      visibility: hidden
   }
   
   .test {
      visibility: hidden
   }
}

@-moz-document url-prefix() {
   ::deep .test {
      visibility: visible
   }

   .test {
      visibility: visible
   }
}