@page "/profil"

<div class="container">
    <h1 class="center">Profil:</h1>
    @if (connectedUser != null)
    {
        <Perso Utilisateur="connectedUser"></Perso>
    }
    else
    {
        <p>Loading...</p>
    }
</div>
