
<div class="p-2 m-1 position-relative">
    @if (emails.Count() > 0)
    {
        <h5 class="mx-1">Emails</h5>
        <ListGenericEdit Items="emails" ExcludedCols="@(new List<string>{"Id", "PersonneId" , "SocieteId"})" DeleteEvent="Delete" EditEvent="ShowEdit" />
        <Button Class="mx-2 position-absolute top-0 end-0" Color="ButtonColor.Secondary" Size="Size.Small" @onclick="ShowCreateMail">Ajouter Email</Button>
        <Modal @ref="modal"></Modal>
    }
</div>

