@using Microsoft.Extensions.Localization
@using System.Globalization
@using ATI_Projet_Cultures.Locales
@inject IStringLocalizer<PersonnelResource> localizer

<Toasts class="p-3" Messages="messages" Placement="ToastsPlacement.TopCenter" AutoHide=true />
<div class="px-2 m-2 position-relative">
    <h5 class="mx-1 pt-1">@localizer["Telephones"]</h5>
   <Button Class=" position-absolute top-0 start-50" Color="ButtonColor.Secondary" Size="ButtonSize.Small" @onclick="ShowCreateTelephone">@localizer["Ajouter Telephone"]</Button>
    @if (telephones != null && telephones.Count() > 0)
    {
        <ListGenericEdit TId=int TItem=Telephone Items="telephones" ExcludedCols="@(new List<string>{"Id", "PersonneId" , "SocieteId"})" DeleteEvent="Delete" EditEvent="ShowEdit" />
    }
    <Modal @ref="modal"></Modal>
</div>