body
{
}
::deep .quickgrid[theme="default"] thead {
    background-color: lightslategray;
}

::deep .quickgrid[theme="default"] .col-title {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1rem;
    display: flex;
    justify-content: center;
}


::deep .quickgrid[theme="default"] {
    --col-gap: 0.5rem;
    min-width: 35rem;
}

::deep tr {
    height: 2rem;
    border-bottom: 0.5px solid silver;
}

::deep tbody td {
    white-space: nowrap;
    overflow: hidden;
    max-width: initial;
    text-overflow: ellipsis;
}