<div class="prof gap-3 border-top rounded p-2 m-1 position-relative" style="min-height: 7rem"> 
    <div>
        <div class="row g-2">
            <span class="fw-semibold col-3 text-end">Safety Book:</span>
            <p class="col-2 ">@EmployeProf.SafetyBook</p>
            <span class="fw-semibold col-3 text-end">Date SafetyBook:</span>
            <p class="col-3 ">@EmployeProf.DateSafetyBook.ToString("dd/MM/yyyy")</p>            
        </div>
        <div class="row g-2">
            <span class="fw-semibold col-3 text-end">Coût:</span>
            <p class="col-2">@EmployeProf.Cout</p>
            <span class="fw-semibold col-3 text-end">Badge:</span>
            <p class="col-3 ">@EmployeProf.Badge</p>
        </div>

    </div>
    <button class="btn btn-primary position-absolute bottom-0 end-0 m-2" @onclick="ShowEditProf">Edit</button>
</div>
<Modal @ref="modal" Size="ModalSize.Large"></Modal>