<div class="prof gap-3 border-top rounded p-2 m-1 position-relative">
    <div>
        <div class="row">
            <p class="col-3 "><span class="fw-semibold">Safety Book:</span> @EmployeProf.SafetyBook</p>
            <p class="col-5 "><span class="fw-semibold">Date SafetyBook:</span> @EmployeProf.DateSafetyBook.ToString("dd/MM/yyyy")</p>            
        </div>
        <div class="row">
            <p class="col-3 "><span class="fw-semibold">Coût:</span> @EmployeProf.Cout</p>
            <p class="col-5 "><span class="fw-semibold">Badge:</span> @EmployeProf.Badge</p>
        </div>

    </div>
    <button class="btn btn-primary position-absolute bottom-0 end-0 m-2" @onclick="ShowEditProf">Edit</button>
</div>
<Modal @ref="modal" Size="ModalSize.Large"></Modal>