body {
}
::deep .parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
}

::deep .div1 {
    grid-area: 1 / 1 / 2 / 3;
}

::deep .div2 {
    grid-area: 2 / 1 / 3 / 3;
}

::deep .div3 {
    grid-area: 3 / 1 / 4 / 3;
}

/*::deep .div4 {
    grid-area: 4 / 1 / 5 / 3;
}
*/